body{
    background-color: #000000;
}
.container{
    width: 100%;
}
.left{
    width:25%;
    height: 700px;
    float: left;
}
.right{
    width:75%;
    height: 700px;
    float: right;

}
#profile{
    background:blue;
    height:10%;
    border: 1px solid black;
}
#contacts{
    background:green;
    height:90%;
    border: 1px solid black;
}
#info{
    background:rgb(13, 149, 240);
    height:10%;
    border: 1px solid black;
}
#chats{
    background:aquamarine;
    height:80%;
    border: 1px solid black;
}
#message{
    background:rgb(3, 253, 170);
    height:10%;
    border: 1px solid black;
}