<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatsapp</title>
    <link rel="stylesheet" href="../static/sidebar.css">
    <link rel="stylesheet" href="../static/chat.css">
</head>
<body>
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                    <p>
                        <strong>name</strong>: <%= name %><br>
                        <strong>pic</strong>: <img src="<%=pic%>" width="100" height="100" alt="">
                    </p>

            </div>
        </div>

    </div>
    
    <div class="page">
        <div class="sidebar">
            <div class="bar">
                navbar
            </div>
            <div class="contact">
                    contacts
            </div>
        </div>
        <div class="chat">
            <div class="chat_bar">
                CHATbar
            </div>
            <div class="chat_area">
                chat here
                <div class="message">
                    message
                </div>
            </div>
        </div>
    </div>
    <a href="/logout" onclick="signOut();">Sign out</a>

    <script src="../static/signin.js"></script>
</body>
</html>