.chat{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100vh;
    border-right: 2px solid black;
}

.chat .chat_bar{
    display: flex;
    padding-top: 20px;
    background-color: green;
}

.chat .chat_area{
    display: flex;
    padding-top: 20px;
    background-color: gray;
    height: 94vh;
}

.chat .message{
    margin-top: 88.3vh;
    background-color: purple;
    height: 20px;
    width: 80%;
    border: 2px solid black;
}