.page{
    display: flex;
    flex-direction: row;
    /* margin: 0; */
}

.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    width: 30vh;
    border-right: 2px solid black;
    margin: 0px;
}

.sidebar .bar{
    display: flex;
    padding-top: 20px;
    background-color: blue;
}

.sidebar .contact{
    display: flex;
    padding-top: 0px;
    height: 100vh;
}