@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"); 
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
/*
*{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    font-family: 'Maven Pro', sans-serif;
    background-color:#efefef;
}
*/
*{
    margin:0;
    padding:0;
    font-family: 'Maven Pro', sans-serif;
  }
body{
    height: 100vh;
    width: 100%;
    background-color:#F7F7F7;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.text{
    font-size: 2rem;
    display:flex;
    padding:8px;
    margin-bottom: 8px;
}
.signup-box{
    background-color:#FEFEFE;
    padding: 80px 155px 60px 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.form-group{
    margin-bottom:10px;
    display:flex;
    flex-direction: column;
    width: 100%;
}
.signup{
    width: 100%;
}
.name{
    display: inline-block;
}
.maxl{
    display: inline-block;
}
.radio_inline{
    display: inline-block;
    padding-left: 10px;
}
input[type="name"].form-control,
input[type="password"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="username"].form-control{
    font-size: 16px;
    outline:none;
    border:none;
    width: calc(100% -26px);
    border :2px solid #ccc;
    padding:10px;
    border-radius: 4px;
    transition:all 0.3s ease;
}
input[type="name"].form-control:hover,
input[type="password"].form-control:hover,
input[type="number"].form-control:hover,
input[type="email"].form-control:hover,
input[type="username"].form-control:hover{
    border:2px solid green;
}
input[type="name"].form-control:focus,
input[type="password"].form-control:focus,
input[type="number"].form-control:focus,
input[type="email"].form-control:focus,
input[type="username"].form-control:focus{
    border:2px solid green;
}
input[type="name"].form-control:active,
input[type="password"].form-control:active,
input[type="number"].form-control:active,
input[type="email"].form-control:active,
input[type="username"].form-control:active{
    border:2px solid green;
}
button{
    outline:none;
    background-color:rgb(1, 100, 1);
    color:#FFF;
    padding:8px;
    margin-left: 10%;
    margin-top: 20px;
    display:block;
    border-radius: 4px;
    width: 60%;
    border: none;
    text-transform: uppercase;
    font-size:16px;
    cursor:pointer;
    transition: all 0.3 ease;
  }
  button:hover{
    box-shadow: 2px 2px 2px rgb(187, 184, 184);
  }
.full-btn {
    margin-bottom:10px;
    display:flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    width: 80%;
    color:rgb(253, 253, 255);
}